:root {
    --primary: #e60000;
    --darkprimary: #cc0000;
    --bg: #fafafa;
    --yellow: #d6de00;
    --pink: #ffb6b6;
}

* {
    font-family: "Poppins", sans-serif;
}

section {
    background-color: #fafafa;
    height: 100vh;
}

/* Navbar Start */

nav {
    padding: 0.8rem 15%;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 3px solid var(--primary);
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.header-nav {
    display: flex;
    gap: 1rem;
}

.header-nav a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
}

.header-nav a:hover {
    color: var(--primary);
}

.header-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.header-nav a:hover::after {
    transform: scaleX(0.5);
}

/* Navbar End */

/* Body Start */

#home{
    height: 615px;
}

/* CAROUSEL */
.custom-carousel .carousel-inner {
    max-height: 500px;
    display: flex;
    align-items: center;
}

.custom-carousel .carousel-item img {
    height: 100%;
    width: 100%;

}
/* CAROUSEL */
#home .carousel .title {
    width: 100%;
    padding: 0.8rem 15% 0.8rem 0;
    background-color: var(--darkprimary);
}

#home .carousel .title .title-ksr {
    width: 50%;
    margin-left: 2rem;
    background-color: var(--bg);
    border-radius: 100px;
}

#home .carousel .title .title-ksr h4 span {
    color: var(--primary);
}

/* About */
.about1 {
    padding: 8rem 15% 2.5rem 15%;
}

.about2 {
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 100px;
    background-color: var(--darkprimary);
    padding: 2rem 15%;
}

/* Pengurus */
#pengurus {
    padding-top: 8rem;
    background-color: var(--darkprimary);
    padding: 8rem 13% 2.5rem 15%;
}

.detail {
    padding: 3rem 3rem;
    border-radius: 100px;
    font-size: 0.7em;
    color: var(--bg);
    background-color: var(--primary);
}

/* media */
#media{
    padding: 8rem 15% 2.5rem 15%;
}
/* Body End */

/* Footer */
#footer{
    padding: 2.5rem 15%;
    background-color: var(--darkprimary);
}

/* Responsif */
